.lp2_aboutContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .aboutContent {
        max-width: 1000px; 
        padding: 60px 20px;
        p:nth-child(odd) {
            background: #263c540a;
        }
        p:nth-child(even) {
            background: #263c541c;
        }
        p {
            font-size: 22px;
            padding: 20px
        }
    }
}

@media only screen and (max-width: 1024px) {
    .lp2_aboutContainer {
        .aboutContent {
            p {
                font-size: 18px;
                margin-bottom: 40px;
            }
        }
    }
}
